**/target/
**/.git/
**/.gitignore
**/.mvn/
**/mvnw
**/mvnw.cmd
**/.idea/
**/*.iml
**/.vscode/
**/node_modules/
**/frontend/generated/
**/frontend/index.html
**/.frontend.build.info
**/webpack.generated.js
**/vite.generated.ts
**/types.d.ts
**/*.log
**/Dockerfile
**/docker-compose*.yml
**/README.md
