# .env.dev.example (safe to commit)
COMPOSE_PROJECT_NAME=superstore-dev
DEPLOYMENT_ENVIRONMENT=dev
# POSTGRES_DB=superstore_dev
POSTGRES_DB=superstore
POSTGRES_USER=superstore
POSTGRES_PASSWORD=superstore
POSTGRES_HOST_PORT=5432
GOOGLE_API_KEY=YOUR_DEVELOPMENT_SECRET_KEY_HERE
SERVICE_PRODUCT_MCP_TOKEN=YOUR_DEVELOPMENT_SECRET_TOKEN_HERE